/* Общий стиль для всего сайта */
body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #f00;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

main {
    padding: 50px 20px;
    text-align: center;
}

h1, h2 {
    font-size: 36px;
    color: #f00;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.image-placeholder img {
    width: 300px;
    margin-top: 20px;
}

.social-icons a {
    margin: 10px;
    display: inline-block;
}

.social-icons img {
    width: 50px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #222;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d00;
}
